<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head">
    <title id="pageTitle">Servisní záznamy</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0 mainContainer">
    <!-- Navigation-->
    <nav th:replace="layout :: nav">

    </nav>
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row g-3">
                <div class="col-lg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Filtry</h5>
                            <form th:action="@{/service-records}" method="get" class="row g-3" id="filter-form">
                                <div class="col-xl-6">
                                    <label for="field" class="form-label">Seřadit podle</label>
                                    <select name="field" id="field" class="form-select">
                                        <option th:value="DATE" th:selected="${#strings.equals(param.field,'DATE')}">Data přidání</option>
                                        <option th:value="COST" th:selected="${#strings.equals(param.field,'COST')}">Ceny opravy</option>
                                    </select>
                                </div>
                                <div class="col-xl-6">
                                    <label for="sortDirection" class="form-label">Směr</label>
                                    <select name="sortDirection" id="sortDirection" class="form-select">
                                        <option value="DESC" th:selected="${#strings.equals(param.sortDirection,'DESC')}">Sestupně</option>
                                        <option value="ASC" th:selected="${#strings.equals(param.sortDirection,'ASC')}">Vzestupně</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label for="operationId">Servisní úkon</label>
                                    <select id="operationId" name="operationId" class="form-select">
                                        <option value="" th:selected="${#strings.equals(param.operationId,'')}">-</option>
                                        <option
                                                th:each="operation: ${operations}"
                                                th:value="${operation.id}"
                                                th:selected="${#strings.equals(param.operationId,operation.id)}"
                                                th:text="${operation.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label for="carId">Vozidlo</label>
                                    <select id="carId" name="carId" class="form-select">
                                        <option value="" th:selected="${#strings.equals(param.carId,'')}">-</option>
                                        <option
                                                th:each="car: ${cars}"
                                                th:value="${car.id}"
                                                th:selected="${#strings.equals(param.carId,car.id)}"
                                                th:text="${car.brand.name + ' ' + car.model + (!car.nickname.isEmpty() ? ' (' + car.nickname + ')' : '')}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="startDate" class="form-label">Od</label>
                                    <input class="form-control" type="date" id="startDate" name="startDate" th:value="${param.startDate}"/>
                                </div>
                                <div class="col-md-6">
                                    <label for="endDate" class="form-label">Do</label>
                                    <input class="form-control" type="date" id="endDate" name="endDate" th:value="${param.endDate}"/>
                                </div>
                                <input type="submit" value="Filtrovat" class="btn btn-primary" >
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Servisní záznamy</h5>
                            <h3 class="fw-light" th:if="${records.isEmpty()}">Filtru neodpovídají žádné servisní záznamy</h3>
                            <div class="table-responsive" th:if="${!records.isEmpty()}">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Datum</th>
                                        <th scope="col">Úkon</th>
                                        <th scope="col">Vozidlo</th>
                                        <th scope="col">Cena</th>
                                        <th scope="col">Stav tachometru</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="record: ${records}">
                                        <td th:text="${#temporals.format(record.date,'dd.MM.yyyy')}"></td>
                                        <td>
                                            <a th:text="${record.operation.name}" th:href="@{/service-records/{serviceId}(serviceId=${record.id})}"></a>
                                        </td>
                                        <td>
                                            <a th:text="${record.car.brand.name + ' ' + record.car.model + (!record.car.nickname.isEmpty() ? ' (' + record.car.nickname + ')' : '')}"
                                               th:href="@{/cars/{carId}(carId=${record.car.id})}">
                                            </a>
                                        </td>
                                            <td th:text="${record.cost + ' Kč'}"></td>
                                            <td th:text="${record.mileage == null ? '-' : record.mileage + ' km'}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav class="d-flex justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item" th:if="${records.getNumber() != 0}">
                                        <a class="page-link" aria-label="Previous"
                                           th:href="@{/service-records(page=${records.getNumber()},field=${param.field},sortDirection=${param.sortDirection},carId=${param.carId},operationId=${param.operationId},startDate=${param.startDate},endDate=${param.endDate})}"
                                        >
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item disabled" th:if="${records.getNumber() == 0}">
                                        <span class="page-link">&laquo;</span>
                                    </li>
                                    <li class="page-item" th:each="page:${#numbers.sequence(1,records.getTotalPages())}" th:classappend="${page == records.getNumber()+1} ? 'active'">
                                        <a
                                                th:if="${page != records.getNumber()+1}"
                                                th:text="${page}"
                                                th:href="@{/service-records(page=${page},field=${param.field},sortDirection=${param.sortDirection},carId=${param.carId},operationId=${param.operationId},startDate=${param.startDate},endDate=${param.endDate})}"
                                                class="page-link">

                                        </a>
                                        <span th:if="${page == records.getNumber()+1}" th:text="${page}" class="page-link"></span>
                                    </li>
                                    <li class="page-item" th:if="${records.getNumber() != records.getTotalPages()-1}">
                                        <a class="page-link" aria-label="Next"
                                           th:href="@{/service-records(page=${records.getNumber()+2},field=${param.field},sortDirection=${param.sortDirection},carId=${param.carId},operationId=${param.operationId},startDate=${param.startDate},endDate=${param.endDate})}"
                                        >
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item disabled" th:if="${records.getNumber() == records.getTotalPages()-1}">
                                        <span class="page-link">&raquo;</span>
                                    </li>
                                 </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="layout :: footer">

</footer>
<script>
    $(document).ready(function () {
        $('#startDate').change(function() {
            $('#endDate').attr('min',$('#startDate').val());
        });
        $('#endDate').change(function() {
            $('#startDate').attr('max',$('#endDate').val());
        });
    })
</script>
</body>
</html>