<!DOCTYPE html>
<html lang="cs">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Registrace</title>
</head>
<body class="vh-100">
<div class="d-flex align-items-center justify-content-center h-100">
    <div class="border border-2 p-5 flex-column" style="min-width: 35%">
        <div class="btn-group btn-group-lg mb-4 w-100" role="group">
            <a th:href="@{/login}" class="btn btn-outline-primary">Přihlášení</a>
            <a href="#" class="btn btn-primary">Registrace</a>
        </div>
        <form th:action="@{/register}" method="post" th:object="${user}">
            <div class="mb-3">
                <label for="username" class="form-label">Uživatelské jméno</label>
                <input th:field="*{username}" id="username" class="form-control" type="text" name="username" th:classappend="${#fields.hasErrors('username') == true} ? 'is-invalid'" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input th:field="*{email}" id="email" class="form-control" type="text" name="email" th:classappend="${#fields.hasErrors('email') == true} ? 'is-invalid'" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Heslo</label>
                <input th:field="*{password}" id="password" class="form-control" type="password" name="password" th:classappend="${#fields.hasErrors('password') == true} ? 'is-invalid'" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Heslo</label>
                <input th:field="*{password2}" id="password2" class="form-control" type="password" name="password2" th:classappend="${#fields.hasErrors('password2') == true} ? 'is-invalid'" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
            </div>
            <input type="submit" class="btn btn-primary w-100" value="Registrovat se">
        </form>
    </div>
</div>
</body>
</html>